# Loops

While loops

In [1]:
# initialization
i=0
# condition
while(i<3):
    print(i)
    i=i+1   # increment

0
1
2

In [5]:
i=0
while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [3]:
m=0
while(m<10):
    print("m",m)
    m=m+1

m 0
m 1
m 2
m 3
m 4
m 5
m 6
m 7
m 8
m 9

In [4]:
l=0
while(l<5):
    print(l)
    print("loop no. ",l)
    l=l+1

0
loop no.  0
1
loop no.  1
2
loop no.  2
3
loop no.  3
4
loop no.  4

In [5]:
p=0
while(p<50):
    print(p)
    p=p+5

0
5
10
15
20
25
30
35
40
45

In [6]:
d=0
while(d<=5):
    print(d)
    print("End")
    d=d+1
print("End of loop")

0
End
1
End
2
End
3
End
4
End
5
End
End of loop

In [6]:
i=1
while(i<=10):
    print(2*i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [8]:
i=1
p=int(input("Enter any Number for table to be generated"))
while(i<=10):
    print(p*i)
    i=i+1

Enter any Number for table to be generated56
56
112
168
224
280
336
392
448
504
560

In [9]:
i=1

p=int(input("Enter any Number for table to be generated"))
while(i<=10):
    print(p,"*",i,"=",p*i)
    i=i+1

Enter any Number for table to be generated12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

For loop

In [10]:
for index in [1,2,3,4,5]:
    print(index)

1
2
3
4
5

In [11]:
for i in ["A","B","C","D"]:
    print(i)

A
B
C
D

In [12]:
for d in [12.5,45.2,32.2]:
    print(d)

12.5
45.2
32.2

In [13]:
for l in ["Apple","Mango","kiwi"]:
    print(l)
print("End of for loop")

Apple
Mango
kiwi
End of for loop

 Range - sequence of integers

In [14]:
range(5)

range(0, 5)

In [15]:
a=list(range(5))
a

[0, 1, 2, 3, 4]

In [16]:
range(10)

range(0, 10)

In [17]:
l=list(range(15))

In [18]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [19]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [20]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [25]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [7]:
p=int(input("Enter any Number for table "))

for i in range(1,11):
    print(p*i)

Enter any Number for table 12
12
24
36
48
60
72
84
96
108
120

In [8]:
p=int(input("Enter any Number for table "))

for i in range(1,11):
    print(p,"*",i,"=",p*i)

Enter any Number for table 11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [9]:
list=[]

for i in ["Samsung","HP","MAC","Lenovo"]:
    list.append(i)
    print(list)

['Samsung']
['Samsung', 'HP']
['Samsung', 'HP', 'MAC']
['Samsung', 'HP', 'MAC', 'Lenovo']