# Adding data in table with csv (comma separated values) fill directly

In [1]:
import sqlite3

In [2]:
db1=sqlite3.connect("F:/my fist program/Scores_database.db")
cur=db1.cursor()

In [3]:
cur.execute("Create table scores (gender text, student id int primary key, marks int)")

OperationalError: table scores already exists

In [4]:
cur.execute("insert into scores (gender,student,marks) values('mail',100,84)")
db1.commit()

IntegrityError: UNIQUE constraint failed: scores.student

In [5]:
result=cur.execute("select * from scores")
for i in result:
    print(i)

('mail', 100, 84)
('male', 101, 66)
('male', 102, 46)
('female', 103, 94)
('male', 104, 62)
('female', 105, 52)
('male', 106, 82)
('female', 107, 63)
('female', 108, 52)
('male', 109, 48)
('female', 110, 94)
('male', 111, 71)

## Inserting records from csv file

In [6]:
with open("Scores_file.csv","r") as file:
    total_records=0
    for row in file:
        cur.execute("insert into scores values(?,?,?)",row.split(","))
        db1.commit()
        total_records+=1
print(total_records,"Records inserted")

IntegrityError: UNIQUE constraint failed: scores.student

In [7]:
result=cur.execute("select * from scores")
for i in result:
    print(i)

('mail', 100, 84)
('male', 101, 66)
('male', 102, 46)
('female', 103, 94)
('male', 104, 62)
('female', 105, 52)
('male', 106, 82)
('female', 107, 63)
('female', 108, 52)
('male', 109, 48)
('female', 110, 94)
('male', 111, 71)

In [8]:
result=cur.execute("select * from scores where gender='male'")
for i in result:
    print(i)

('male', 101, 66)
('male', 102, 46)
('male', 104, 62)
('male', 106, 82)
('male', 109, 48)
('male', 111, 71)

In [9]:
result=cur.execute("select * from scores order by marks desc")
for i in result:
    print(i)

('female', 103, 94)
('female', 110, 94)
('mail', 100, 84)
('male', 106, 82)
('male', 111, 71)
('male', 101, 66)
('female', 107, 63)
('male', 104, 62)
('female', 105, 52)
('female', 108, 52)
('male', 109, 48)
('male', 102, 46)

In [10]:
sql="UPDATE scores Set marks = 60 where student id "
r=cur.execute(sql)
for i in r:
    print(r)

OperationalError: near "id": syntax error

In [11]:
r=cur.execute("select min(marks) from scores")
for i in r:
    print(i)

(46,)

In [12]:
r=cur.execute("select max(marks) from scores")
for i in r:
    print(i)

(94,)

In [13]:
db1.close()

# Exercise 2 SQLite3

In [14]:
import sqlite3

Adding data in table

In [15]:
db=sqlite3.connect("sports_database.db")

In [16]:
cur=db.cursor()

constraints ----
unique -- enter only unique values, no duplicate values
not null -- no blank values can be inserted in table

In [17]:
cur.execute("create table sport (id int primary key,sportname text unique,dateofevent date,country text not null )")

In [18]:
cur.execute("insert into sport values (1,'cricket','2023-05-11','India')")

this line will throw error as sportname is duplicate  --- unique constraint failed
cur.execute("insert into sport values (2,'cricket','2023-04-05','Srilanka')")

In [19]:
cur.execute("insert into sport values (2,'Tennis','2023-3-06','Srilanka')")
print(cur.rowcount,"record(s),inserted")

1 record(s),inserted

In [20]:
r=cur.execute("select * from sport")
for i in r:
    print(i)

(1, 'cricket', '2023-05-11', 'India')
(2, 'Tennis', '2023-3-06', 'Srilanka')

This query throw error : not null constraint : can not leave any field blank
cur.execute("insert into sport velues(3,'football','2023-02-15',null)")

In [23]:
r=cur.execute("insert into sport values(3,'football','2023-02-15','Australia')")
db.commit;

IntegrityError: UNIQUE constraint failed: sport.sportname

In [24]:
r=cur.execute("select * from sport")
for i in r:
    print(i)

(1, 'cricket', '2023-05-11', 'India')
(2, 'Tennis', '2023-3-06', 'Srilanka')
(3, 'football', '2023-02-15', 'Australia')

# Employee database with DB and Python programmatically

In [27]:
import sqlite3

In [28]:
con=sqlite3.connect("emp_database.db")

In [29]:
def sql_table(con):
    cur=con.cursor()
    cur.execute("create table employee(id integer primry key,name text, salary real,department text, position text, hiredate date)")
    con.commit()

In [30]:
cur=con.cursor()

In [31]:
sql_table(con)

In [32]:
cur=con.cursor()
cur.execute("insert into employee values(1,'Lalit',1500000,'IT','Manager','2023-08-25')")

In [33]:
con.commit();

In [35]:
results=cur.execute("select * from employee")
results.fetchall()

[(1, 'Lalit', 1500000.0, 'IT', 'Manager', '2023-08-25')]